html {
    background-color: #ffa3b3;
}

.titulo {
    background-color: #ff7b91;
    box-shadow: 0 0 2rem #ec479a;
    padding: 0.5cm;
    margin: 0;
    height: 1cm;
    width: 34.7cm;
    border-bottom-left-radius: 1cm;
    border-bottom-right-radius: 1cm;
    text-align: center;
    
}

body {
    margin: 0;
}

#container-1 {
    position: absolute;
    top: 3cm;
    width: 700px;
    height: 27cm;
    background-color:#ff9eaf;
    border-radius: 2cm;
    box-shadow:  0 0 2rem #ff4da6;
    left: 8.9cm;
}

p, h1, h2 {
    text-align: center;
    color: #7e1549;
    font-family: 'Dancing Script', cursive;

}

p {
    font-size: 25px;
    margin: 1cm;
    margin-left: 3cm;
    margin-right: 3cm;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: #ff4da6;
}

#button {
    position: absolute;
    font-size: 0.7cm;
    background-color: #ff7b91;
    border: 0cm;
    
}

#button2 {
    position: absolute;
    left: 34.5cm;
    font-size: 0.7cm;
    background-color: #ff7b91;
    border: 0cm;
    
}

a {
    text-decoration: none;
}


.bj {
    width: 5cm;
    position: absolute;
    left: 3.7cm;
    border-top-left-radius: 2cm;
    border-bottom-left-radius: 2cm;
    box-shadow: 0 0 2rem #e94095;
}

.noia {
    width: 5cm;
    position: absolute;
    left: 10cm;
    border-top-right-radius: 2cm;
    border-bottom-right-radius: 2cm;
    box-shadow: 0 0 2rem #ec479a;
}

.heart2, .heart3, .heart4, .heart5 {
    display: inline-block;
    position: absolute;
    left: 8.76cm;
}

.heart3 {
    top: 18cm;
}

.heart4 {
    top: 20cm;
}

.heart5 {
    top: 22cm;
}

@media (max-width: 600px) {
    #container-1 {
        position: absolute;
        top: 3cm;
        width: 450px;
        height: 42cm;
        left: 0.4cm;
    }

    .noia {
        position: absolute;
        left: 6.6cm;
    }

    .bj {
        position: absolute;
        left: 0.5cm;
    }

    .heart3 {
        top: 40cm;
        left: 5.5cm;
    }
    
    .heart4 {
        top: 36.8cm;
        left: 5.5cm;
    }
    
    .heart5 {
        top: 33cm;
        left: 5.5cm;
    }

    .titulo {
        height: 1cm;
        width: 11.70cm;
    }

    #button2 {
        left: 11.5cm;
    }
}
